@model LabTransacciones.Models.Aplica_Transacciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aplica_Transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglaExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglaExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { Cedula = Model.Cedula, SiglaExam = Model.SiglaExam }) |
    @Html.ActionLink("Back to List", "Index")
</p>
